header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/section1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Nav in Header */
header nav {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .nav {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header nav .parts:nth-of-type(1) {
    width: 20%;
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 2px;
}

header nav .parts:nth-of-type(2) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .parts:nth-of-type(2) ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 15px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    margin-top: 3px;
    transition-duration: .7s;
}

header nav li.active a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    opacity: 1;
    margin-top: 3px;
}

header nav li a:hover::after {
    opacity: 1;

    background-color: var(--main-color);
}

/* Burger Button */
header nav .icon.parts {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    display: none;
}

header nav .icon.parts .iconNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    gap: 9px;
    border-radius: 10px;
    flex-direction: column;
    cursor: pointer;
}

header nav .icon.parts .iconNav span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition-duration: .5s;
}

header nav .nav .nav2 {
    display: none;
}



/* Content in header */

header .container {
    display: flex;
    justify-content: start;
}

header .content {
    width: 45%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    margin-left: 15px;
    letter-spacing: 1.5px;
}

header .content h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 150px;
}

header .content h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}

header .content a {
    background-color: #000;
    border: 2px solid var(--main-color);
    color: #fff;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 20px;
    letter-spacing: 0px;
}

header .content a:hover {
    background-color: rgb(23, 23, 23);
    transition-duration: .3s;
}

/* About */

#About {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 40px;
}

#About .container {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

#About .container .part:nth-of-type(1) {
    width: 50%;
}

#About .container .part:nth-of-type(1) h2 {
    color: var(--main-color);
    font-size: 40px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

#About .container .part:nth-of-type(1) p {
    color: #212529;
}

#About .container .part:nth-of-type(2) {
    width: 40%;
}

/* Services */

#Services {
    background-color: var(--main-color);
    color: #fff;
    width: 100%;
    padding-bottom: 30px;
}

#Services .container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Services .container .card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#Services .container .card:nth-of-type(2) {
    flex-direction: row-reverse;
}

#Services .container .card .content {
    width: 70%;
    padding-block: 30px;
}

#Services .container .card .content h3 {
    font-size: 26px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 700;
}

#Services .container .card .content p {
    color: #000;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
}

#Services .container .card .content a {
    padding: 8px 10px;
    font-size: 14px;
    background-color: #000;
    margin-top: 20px;
}

#Services .container .card .icon {
    width: 25%;
    height: 100%;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Services .container .card .icon .item {
    background-color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Services .container .card .icon .item i {
    color: var(--main-color);
    font-size: 30px;
}

/* Clients */
#Clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

#Clients .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#Clients .container .Client {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

#Clients .container .Client p {
    font-size: 14px;
    line-height: 25px;
}

#Clients .container .Client h4 {
    margin-block: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    letter-spacing: 1px;
}

#Clients .container .Client img {
    border-radius: 100%;
    border: 2px solid var(--main-color);
}

/* Trainers */
#Trainers {
    background-color: var(--main-color);
    color: #fff;
    padding-bottom: 40px;
}

#Trainers .container {
    color: #000;
    margin: auto;
    width: 80%;
}

#Trainers .container .col {
    width: calc(100% / 4);
}

#Trainers .container .col .card {
    width: 95%;
    text-align: center;
    border: 2px solid #000;
    box-shadow: 0px 0px 2px #000;
    background-color: #fff;
    padding: 20px;
}

#Trainers .container .col .card img {
    border-radius: 100%;
    border: 5px solid var(--main-color);
    margin-bottom: 10px;
}

#Trainers .container .col .card h4 {
    color: var(--main-color);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

#Trainers .container .col .card h5 {
    letter-spacing: 1.5px;
    margin-block: 20px;
}

#Trainers .container .col .card p {
    font-size: 14px;
    line-height: 25px;
}

#Trainers .container .col .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#Trainers .container .col .card .icon a {
    color: #fff;
    background-color: var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition-duration: .5s;
}

#Trainers .container .col .card .icon a:hover {
    background-color: #fff;
}

#Trainers .container .col .card .icon a:hover i {
    color: var(--main-color);
}

/* Gallery */
#Gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Gallery .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Gallery .container .gallery {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#Gallery .container .gallery .col {
    width: calc(100% / 3 - 10px);
    height: 725px;
    display: flex;
    flex-direction: column;
}

#Gallery .container .gallery .col:nth-of-type(1) .item:nth-of-type(1) {
    height: calc(100%*2 / 3);
}

#Gallery .container .gallery .col:nth-of-type(1) .item:nth-of-type(2) {
    height: calc(100% / 3);
}

#Gallery .container .gallery .col:nth-of-type(2) .item:nth-of-type(1) {
    height: calc(100% / 3);
}

#Gallery .container .gallery .col:nth-of-type(2) .item:nth-of-type(2) {
    height: calc(100%*2 / 3);
}

#Gallery .container .gallery .col:nth-of-type(3) .item {
    height: calc(100% / 3);
}

#Gallery .container .gallery .col .item img {
    height: 100%;
    width: 100%;
}

/* Location */

#Location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 100px;
}

#Location iframe {
    width: 100%;
    height: 300px;
    border: none;
}

/*  Contact  */
#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    flex-direction: column;
}

#Contact .container {
    width: 85%;
    display: flex;
    flex-direction: column;
}

#Contact .container .part {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

#Contact .container .part:nth-of-type(1) .col {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Contact .container .part:nth-of-type(1) .col .icon {
    font-size: 18px;
    color: #fff;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 100%;
    margin-bottom: 20px;
}

#Contact .container .part:nth-of-type(1) .col a {
    color: #000;
    font-size: 14px;
}

#Contact .container .part:nth-of-type(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contact .container .part:nth-of-type(2) .form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
}

#Contact .container .part:nth-of-type(2) .form form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

#Contact .container .part:nth-of-type(2) .form form input {
    width: calc(100% / 3 - 15px);
    padding: 15px;
    border: none;
    border-bottom: 1px solid #E55556;
    transition-duration: 1s;
    outline: none;
}

#Contact .container .part:nth-of-type(2) .form form input:focus,
#Contact .container .part:nth-of-type(2) .form form textarea:focus {
    border: transparent;
    border-bottom: transparent;
    outline: none;
    box-shadow: 0px 0px 15px -1px var(--main-color);
}

#Contact .container .part:nth-of-type(2) .form form textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #E55556;
    outline: none;
    resize: none;
    transition-duration: 1s;

}

#Contact .container .part:nth-of-type(2) .form form .btn {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

#Contact .container .part:nth-of-type(2) .form form button {
    padding: 12px 30px;
    justify-self: start;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition-duration: .5s;

}

#Contact .container .part:nth-of-type(2) .form form button:hover {
    background-color: var(--main-color);
}

/* Footer */

footer {
    background-color: #333333;
    padding-block: 20px;
}

footer .container {
    width: 75%;
    margin: auto;
}

footer .container .parts {
    width: calc(100% / 3);
    text-align: center;
    height: 100%;
}

footer .container .parts h3 {
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    color: var(--main-color);
}

footer .container .parts .footer-images {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer .container .parts .footer-images .images {
    width: calc(100% / 3);
}

footer .container .parts .footer-images .images img {
    padding: 5px 10px;
}

footer .container .parts ul {
    list-style: none;
    width: 100%;
    height: 90%;
    line-height: 35px;
    /* padding-bottom: 50px; */
}

footer .container .parts:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .container .parts .time {
    width: 80%;
    height: 90%;
    display: block;
    color: #fff;
    font-family: "Agency FB Bold", " arial";
    padding: 20px 20px 100px 20px;
}

footer .container .parts .time .row {
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;
}

footer .footer {
    padding-top: 20px;
    border-top: 1px solid #fff;
    text-align: center;
}

footer .footer p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

footer .footer p span {
    color: var(--main-color);
}

footer .footer .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .footer .icons a {
    color: #fff;
    background-color: var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition-duration: .5s;
}

footer .footer .icons a:hover {
    background-color: #fff;
}

footer .footer .icons a:hover i {
    color: var(--main-color);
}
