@media (max-width: 1300px) {

    /* Nav */
    header nav {
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav .nav {
        justify-content: space-evenly;
    }

    header nav .parts:nth-of-type(1) {
        width: 50%;
        display: flex;
        align-items: center;
        font-size: 16px;
        letter-spacing: 2px;
        margin-left: 15px;
    }

    header nav .parts:nth-of-type(2) {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav .parts:nth-of-type(2) ul {
        display: none;
    }

    /* Burger Button */
    header nav .icon.parts {
        display: flex;
        margin-right: 15px;
    }

    header nav .nav .nav2 {
        display: none;
        background-color: #000;
        color: #e55556;
        width: 90%;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        top: 80px;
        font-size: 18px;
        padding: 20px;
    }

    header nav .nav .nav2 ul {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 600;
        line-height: 40px;
        text-transform: uppercase;
        font-size: 17px;

    }

    header nav .nav .nav2 ul li {
        width: fit-content;
    }


    header nav .nav .nav2 ul li:not(:last-child) {
        margin-bottom: 5px;
    }

    /* Content in header */

    header .content {
        width: 100%;
        height: 88vh;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-left: 0;
        letter-spacing: 1.5px;
    }

    header .content h1 {
        font-size: 28px;
        font-weight: 600;
        margin-top: 175px;
    }

    header .content h2 {
        font-size: 25px;
        font-weight: 600;
    }

    header .content a {
        font-size: 14px;
        font-weight: 600;
        padding: 10px 15px;
        letter-spacing: 0px;
    }

    /* About */
    #About {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 40px;
    }

    #About .container {
        width: 85%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: auto;
    }

    #About .container .part:nth-of-type(1) {
        width: 90%;
    }

    #About .container .part:nth-of-type(1) h2 {
        color: var(--main-color);
        font-size: 33px;
        margin-bottom: 25px;
        letter-spacing: 1px;
    }

    #About .container .part:nth-of-type(1) p {
        color: #212529;
    }

    #About .container .part:nth-of-type(2) {
        width: 90%;
        margin-left: 50px;
    }


    /* Services */

    #Services {
        width: 100%;
        padding-bottom: 30px;
    }

    #Services .container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #Services .container .card {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    #Services .container .card:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    #Services .container .card .content {
        width: 85%;
        padding-block: 30px;
    }

    #Services .container .card .content h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    #Services .container .card .content p {
        font-size: 16px;
    }

    #Services .container .card .content a {
        font-size: 14px;
        margin-top: 20px;
    }

    #Services .container .card .icon {
        width: 35%;
        height: 100%;
        padding-block: 10px;
    }

    /* Clients */
    #Clients .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #Clients .container .Client {
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #Clients .container .Client p {
        font-size: 14px;
        letter-spacing: 1.5px;
    }

    #Clients .container .Client h4 {
        margin-block: 20px;
        font-size: 18px;
    }

    /* Trainers */
    #Trainers {
        padding-bottom: 40px;
    }

    #Trainers .container {
        width: 80%;
        flex-direction: column;
        gap: 30px;
    }

    #Trainers .container .col {
        width: calc(100% / 1);
    }

    #Trainers .container .col .card {
        width: 95%;
        padding: 20px;
    }

    #Trainers .container .col .card img {
        margin-bottom: 10px;
    }

    #Trainers .container .col .card h4 {
        font-size: 22px;
        letter-spacing: 1.5px;
    }

    #Trainers .container .col .card h5 {
        letter-spacing: 1.5px;
        margin-block: 20px;
    }

    #Trainers .container .col .card p {
        font-size: 14px;
        line-height: 25px;
    }

    #Trainers .container .col .card .icon {
        gap: 20px;
    }


    /* Gallery */
    #Gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 80px;
    }

    #Gallery .container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Gallery .container .gallery {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    #Gallery .container .gallery .col {
        width: 100%;
        height: 725px;
        display: flex;
        gap: 10px;
    }

    /* Contact */

    #Contact .container {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    #Contact .container .part {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-block: 20px;
    }

    #Contact .container .part:nth-of-type(1) .col {
        width: calc(100% / 1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #Contact .container .part:nth-of-type(1) .col .icon {
        font-size: 18px;
        color: #fff;
        background-color: var(--main-color);
        padding: 20px;
        border-radius: 100%;
        margin-bottom: 20px;
    }

    #Contact .container .part:nth-of-type(1) .col a {
        color: #000;
        font-size: 14px;
    }


    #Contact .container .part:nth-of-type(2) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Contact .container .part:nth-of-type(2) .form {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
    }

    #Contact .container .part:nth-of-type(2) .form form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }

    #Contact .container .part:nth-of-type(2) .form form input {
        width: calc(100% / 1);
        padding: 15px;
        border: none;
        border-bottom: 1px solid #E55556;
        transition-duration: 1s;
        outline: none;
    }

    #Contact .container .part:nth-of-type(2) .form form input:focus,
    #Contact .container .part:nth-of-type(2) .form form textarea:focus {
        border: transparent;
        border-bottom: transparent;
        outline: none;
        box-shadow: 0px 0px 15px -1px var(--main-color);
    }

    #Contact .container .part:nth-of-type(2) .form form textarea {
        width: 100%;
        height: 200px;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #E55556;
        outline: none;
        resize: none;
        transition-duration: 1s;

    }


    /* Footer */

    footer {
        background-color: #333333;
        padding-block: 20px;
    }

    footer .container {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .container .parts:nth-of-type(2) {
        width: calc(90% / 1);
        text-align: center;
        height: 100%;
        margin-block: 20px;
    }

    footer .container .parts h3 {
        margin-bottom: 10px;
    }

    footer .container .parts .footer-images {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer .container .parts .footer-images .images {
        height: 100%;
        width: calc(100% / 1);
    }

    footer .container .parts .footer-images .images img {
        padding: 5px 10px;
        height: 100%;
    }

    footer .container .parts ul {
        list-style: none;
        width: 100%;
        height: 90%;
        line-height: 35px;
    }

    footer .container .parts:nth-of-type(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    footer .container .parts .time {
        width: 80%;
        height: 90%;
        display: block;
        color: #fff;
        font-family: "Agency FB Bold", " arial";
        padding: 20px 20px 50px 20px;
    }

    footer .container .parts .time .row {
        width: 100%;
        height: calc(100% / 3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid var(--main-color);
        margin-bottom: 20px;
    }

    footer .footer {
        padding-top: 20px;
        border-top: 1px solid #fff;
        text-align: center;
    }

    footer .footer p {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;
    }

    footer .footer p span {
        color: var(--main-color);
    }

    footer .footer .icons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    footer .footer .icons a {
        color: #fff;
        background-color: var(--main-color);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        transition-duration: .5s;
    }

    footer .footer .icons a:hover {
        background-color: #fff;
    }

    footer .footer .icons a:hover i {
        color: var(--main-color);
    }


}

@media (min-width: 371px) and (max-width: 1300px) {

    /* Nav */
    header nav .parts:nth-of-type(1) {
        font-size: 20px;
    }

    /* Burger Button */
    header nav .icon.parts {
        display: flex;
    }

    /* Content in header */
    header .content h1 {
        font-size: 40px;
        margin-top: 155px;
    }

    header .content h2 {
        font-size: 35px;
    }

    header .content a {
        font-size: 16px;
        padding: 10px 15px;
    }

    /* Contact */

    #Contact .container {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    #Contact .container .part {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-block: 20px;
    }

    #Contact .container .part:nth-of-type(1) .col {
        width: calc(100% / 1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #Contact .container .part:nth-of-type(1) .col .icon {
        font-size: 18px;
        color: #fff;
        background-color: var(--main-color);
        padding: 20px;
        border-radius: 100%;
        margin-bottom: 20px;
    }

    #Contact .container .part:nth-of-type(1) .col a {
        color: #000;
        font-size: 14px;
    }


    #Contact .container .part:nth-of-type(2) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Contact .container .part:nth-of-type(2) .form {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
    }

    #Contact .container .part:nth-of-type(2) .form form {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }

    #Contact .container .part:nth-of-type(2) .form form input {
        width: calc(100% / 1);
        padding: 15px;
        border: none;
        border-bottom: 1px solid #E55556;
        transition-duration: 1s;
        outline: none;
    }

    #Contact .container .part:nth-of-type(2) .form form input:focus,
    #Contact .container .part:nth-of-type(2) .form form textarea:focus {
        border: transparent;
        border-bottom: transparent;
        outline: none;
        box-shadow: 0px 0px 15px -1px var(--main-color);
    }

    #Contact .container .part:nth-of-type(2) .form form textarea {
        width: 100%;
        height: 200px;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #E55556;
        outline: none;
        resize: none;
        transition-duration: 1s;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {

    /* Nav */
    header nav .parts:nth-of-type(1) {
        font-size: 26px;
    }

    /* Content in header */

    header .content {
        width: 80%;
        margin-left: 30px;
    }

    header .content h1 {
        font-size: 43px;
        margin-top: 155px;
    }

    header .content h2 {
        font-size: 38px;
    }

    header .content a {
        font-size: 16px;
        padding: 10px 15px;
    }

    /* Services */

    #Services .container {
        width: 85%;
    }

    #Services .container .card {
        flex-direction: row;
    }

    #Services .container .card:nth-of-type(2) {
        flex-direction: row-reverse;
    }

    /* Trainers */
    #Trainers {
        padding-bottom: 40px;
    }

    #Trainers .container {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }

    #Trainers .container .col {
        width: calc(100% / 2 - 15px);
        margin-bottom: 20px;
    }

    #Trainers .container .col .card {
        width: 95%;
        padding: 20px;
    }

    #Trainers .container .col .card h4 {
        font-size: 22px;
        letter-spacing: 1.5px;
    }

    #Trainers .container .col .card h5 {
        letter-spacing: 1.5px;
        margin-block: 20px;
    }

    #Trainers .container .col .card p {
        font-size: 14px;
        line-height: 25px;
    }


    /* Gallery */
    #Gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 80px;
    }

    #Gallery .container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Gallery .container .gallery {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    #Gallery .container .gallery .col {
        width: 100%;
        height: 725px;
        display: flex;
        gap: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {

    /* Nav */
    header nav .parts:nth-of-type(1) {
        font-size: 26px;
    }

    /* Content in header */

    header .content {
        width: 80%;
        margin-left: 30px;
    }

    header .content h1 {
        font-size: 45px;
        margin-top: 150px;
    }

    header .content h2 {
        font-size: 38px;
    }

    header .content a {
        font-size: 16px;
        padding: 10px 15px;
    }

    /* About */

    #About {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 10px;
    }

    #About .container {
        width: 85%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: auto;
    }

    #About .container .part:nth-of-type(1) {
        width: 46.5%;
    }

    #About .container .part:nth-of-type(1) h2 {
        color: var(--main-color);
        font-size: 33px;
        margin-bottom: 25px;
        letter-spacing: 1px;
    }

    #About .container .part:nth-of-type(1) p {
        color: #212529;
    }

    #About .container .part:nth-of-type(2) {
        width: 40%;
    }

    /* Clients */
    #Clients .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: 20px;
    }

    #Clients .container .Client {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #Clients .container .Client p {
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    #Clients .container .Client h4 {
        margin-block: 20px;
        font-size: 18px;
    }

    /* Trainers */
    #Trainers {
        padding-bottom: 40px;
    }

    #Trainers .container {
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0px;
        margin-top: 20px;
    }

    #Trainers .container .col {
        width: calc(100% / 4);
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Trainers .container .col .card {
        width: 85%;
        padding: 20px;
    }

    #Trainers .container .col .card .icon {
        gap: 5px;
    }

    /* Gallery */
    #Gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #Gallery .container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Gallery .container .gallery {
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
        gap: 0;
    }

    #Gallery .container .gallery .col {
        width: calc(100% / 3);
        height: 725px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }


    /* Contact */

    #Contact .container {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    #Contact .container .part {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-block: 20px;
    }

    #Contact .container .part:nth-of-type(1) .col {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #Contact .container .part:nth-of-type(2) .form form {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }

    #Contact .container .part:nth-of-type(2) .form form input {
        width: calc(100% / 3 - 15px);
        padding: 15px;
        border: none;
        border-bottom: 1px solid #E55556;
        transition-duration: 1s;
        outline: none;
    }

    /* Footer */
    footer {
        background-color: #333333;
        padding-block: 20px;
    }

    footer .container {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    footer .container .parts {
        width: calc(100% / 3);
        text-align: center;
        height: 100%;
    }

    footer .container .parts h3 {
        width: 100%;
        height: 10%;
        margin-bottom: 10px;
        color: var(--main-color);
    }

    footer .container .parts .footer-images {
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer .container .parts .footer-images .images {
        width: calc(100% / 3);
    }

    footer .container .parts .footer-images .images img {
        padding: 5px 10px;
    }

    footer .container .parts ul {
        list-style: none;
        width: 100%;
        height: 90%;
        line-height: 35px;
        /* padding-bottom: 50px; */
    }

    footer .container .parts:nth-of-type(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: calc(100% /2);
    }

    footer .container .parts .time {
        width: 100%;
        height: 90%;
        display: block;
        color: #fff;
        font-family: "Agency FB Bold", " arial";
        padding: 20px 20px 100px 20px;
    }

    footer .container .parts .time .row {
        width: 100%;
        height: calc(100% / 3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid var(--main-color);
        margin-bottom: 20px;
    }

    footer .footer {
        padding-top: 20px;
        border-top: 1px solid #fff;
        text-align: center;
    }



}

@media (min-width: 993px) and (max-width: 1300px) {

    /* Nav in Header */

    header nav .nav {
        justify-content: space-between;
    }

    header nav .parts:nth-of-type(1) {
        width: 25%;
        font-size: 30px;
        letter-spacing: 2px;
    }

    header nav .parts:nth-of-type(2) {
        width: 65%;
        display: flex;
        justify-content: flex-end;
    }

    header nav .parts:nth-of-type(2) ul {
        display: flex;
        gap: 15px;
        font-size: 18px;
    }

    /* Burger Button */
    header nav .icon.parts {
        display: none;
    }

    header nav .nav .nav2 {
        display: none;
    }

    /* Content in header */
    header .container {
        display: flex;
        justify-content: start;
    }

    header .content {
        width: 60%;
        margin-left: 15px;
        letter-spacing: 1.5px;
    }

    header .content h1 {
        font-size: 45px;
        font-weight: 600;
        margin-top: 150px;
    }

    header .content h2 {
        font-size: 35px;
        font-weight: 600;
        margin-top: 10px;
    }

    header .content a {
        font-size: 16px;
        margin-top: 20px;
        padding: 10px 15px;
    }

    /* Services */
    #Services .container {
        width: 75%;
    }

}

@media (min-width: 1181px) and (max-width: 1300px) {


    /* Clients */
    #Clients .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: 20px;
    }

    #Clients .container .Client {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #Clients .container .Client p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 25px;

    }

    #Clients .container .Client h4 {
        margin-block: 20px;
        font-size: 18px;
    }
}